*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    transition: all 400ms ease;
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
    h1{
        font-weight: 100;
        left: 55%;
    }
}